include ../includes/helpers
doctype html
html(lang='en')
    head
        block title
        meta(charset='utf-8')
        block description
        meta(name='viewport', content='width=device-width, initial-scale=1')
        include ../includes/favicon
        link(rel='stylesheet', href='css/main.css')
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"> -->
        <!--<link rel="stylesheet" href="https://s.plurk.com/0e89357f530f0a843c68440a020d4eb5.css"> -->
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>

    body
        include ../includes/header
        block content
        include ../includes/footer
        script(src='js/recursos.min.js')
        script(src='js/main.js')
